<div class="doitenhinhanhsticky__container">
            <!-- Logo Section -->
            <div class="doitenhinhanhsticky__logo">
                <a href="./index.html" class="doitenhinhanhsticky__logo-link" aria-label="Trang chủ">
                    <img src="./asset/img/logodvnt.png" alt="Logo công ty" class="doitenhinhanhsticky__logo-image">
                    <!-- <span class="doitenhinhanhsticky__logo-text">DVNT Vlogs</span> -->
                </a>
            </div>

            <!-- Mobile Menu Checkbox -->
            <input type="checkbox" id="doitenhinhanhsticky__mobile-menu" class="doitenhinhanhsticky__mobile-checkbox">
            
            <!-- Mobile Menu Label -->
            <label for="doitenhinhanhsticky__mobile-menu" class="doitenhinhanhsticky__mobile-toggle" aria-label="Mở menu di động">
                <span class="doitenhinhanhsticky__mobile-toggle-line"></span>
                <span class="doitenhinhanhsticky__mobile-toggle-line"></span>
                <span class="doitenhinhanhsticky__mobile-toggle-line"></span>
            </label>

            <!-- Navigation Menu -->
            <nav class="doitenhinhanhsticky__nav" role="navigation" aria-label="Menu chính">
                <ul class="doitenhinhanhsticky__nav-list">
                    <li class="doitenhinhanhsticky__nav-item">
                        <a href="./dinhdanganh.html" class="doitenhinhanhsticky__nav-link">
                            Chuyển Định Dạng Ảnh
                        </a>
                    </li>
                    <li class="doitenhinhanhsticky__nav-item">
                        <a href="./thaydoitenanh.html" class="doitenhinhanhsticky__nav-link">
                            Thay Tên Ảnh Hàng Loạt
                        </a>
                    </li>
                    <li class="doitenhinhanhsticky__nav-item doitenhinhanhsticky__nav-item--dropdown">
                        <span  class="doitenhinhanhsticky__nav-link">
                            Các công cụ khác
                            <span class="doitenhinhanhsticky__nav-arrow"></span>
                        </span>
                        <ul class="doitenhinhanhsticky__dropdown">
                            <li class="doitenhinhanhsticky__dropdown-item">
                                <a href="./thaynen.html" class="doitenhinhanhsticky__dropdown-link">
                                    Thay đổi nền ảnh
                                </a>
                            </li>
                            <li class="doitenhinhanhsticky__dropdown-item" >
                                <a href="./taianhlinkhangloat.html" class="doitenhinhanhsticky__dropdown-link">
                                    Tải ảnh bằng liên kết
                                </a>
                            </li>
                        <li class="doitenhinhanhsticky__dropdown-item" >

                            <li class="doitenhinhanhsticky__dropdown-item" >

                                <a href="./taoqr.html" class="doitenhinhanhsticky__dropdown-link">
                                    Tạo QR
                                </a>
                            </li>

                            <li class="doitenhinhanhsticky__dropdown-item" >
                                <a href="./addVourcherImg.html" class="doitenhinhanhsticky__dropdown-link">
                                    Công Cụ Thêm QR vào Voucher
                                </a>
                            </li>
                           <li class="doitenhinhanhsticky__dropdown-item" >
                                <a href="./addTextImg.html" class="doitenhinhanhsticky__dropdown-link">
                                    Công Cụ thêm tên vào thiệp mời hàng loạt
                                </a>
                            </li>

                            <li class="doitenhinhanhsticky__dropdown-item" hidden>
                                <a href="/development" class="doitenhinhanhsticky__dropdown-link">
                                    Phát triển ứng dụng
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="doitenhinhanhsticky__nav-item" hidden>
                        <a href="/portfolio" class="doitenhinhanhsticky__nav-link">
                            Portfolio
                        </a>
                    </li>
                    <li class="doitenhinhanhsticky__nav-item" >
                        <a href="./lienhe.html" class="doitenhinhanhsticky__nav-link">
                            Liên hệ
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- CTA Button -->
            <div class="doitenhinhanhsticky__cta">
                <a href="https://dvntplaygame.blogspot.com/" class="doitenhinhanhsticky__cta-button">
                    Hỗ trợ
                </a>
            </div>
        </div>
